
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="todo-list-example" class="demo">
        <form v-on:submit.prevent="addNewTodo">
          <label for="new-todo">Agregar una tarea</label>
          <input v-model="newTodoText" id="new-todo" placeholder="E.g. Alimentar al gato">
          <button>Agregar</button>
        </form>
        <ul>
          <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index, 1)"></li>
        </ul>
    </div>

      <script>
      Vue.component('todo-item', {
        template: '\
          <li>\
            {{ title }}\
            <button v-on:click="$emit(\'remove\')">Eliminar</button>\
          </li>\
        ',
        props: ['title']
      })
      
      new Vue({
        el: '#todo-list-example',
        data: {
          newTodoText: '',
          todos: [
            {
              id: 1,
              title: 'Lavar los platos',
            },
            {
              id: 2,
              title: 'Sacar la basura',
            },
            {
              id: 3,
              title: 'Cortar el césped'
            }
          ],
          nextTodoId: 4
        },
        methods: {
          addNewTodo: function () {
            this.todos.push({
              id: this.nextTodoId++,
              title: this.newTodoText
            })
            this.newTodoText = ''
          }
        }
      })
      </script>
      
      
      
        
         
</body>
</html>